<div class='principal'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a [routerLink]="['/../usuarios']" class="nav-link">
        <i class="fa fa-users" aria-hidden="true"></i>
        Lista de Usuários
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/../novo-usuario']" class="nav-link active">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Cadastro
      </a>
      <li class="nav-item">
        <a [routerLink]="['/../funcao']" class="nav-link active">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Função
        </a>
    </li>
  </ul>
  <form [formGroup]='form'>
    <div class='container'>  
        <div id="matricula">
          <Label class="font-weight-bold">Matricula</Label>
          <input 
          formControlName='codigoRe' 
          [(ngModel)]="usuario.codigoRe" 
          type='text' 
          placeholder="RExxxxxx"
          maxlength="8"
          class='form-control' />
        </div>
      <!-- input CPF -->
        <div id="cpf">
          <Label class="font-weight-bold">CPF</Label>
          <input 
          mask="000.000.000-00" 
          [showMaskTyped]="true" 
          formControlName='cpf' 
          [(ngModel)]='usuario.cpf'
          type='text' 
          class='form-control' />
        </div>
      <!-- input Data-nascimento -->
        <div id="data_nascimento">
          <Label class="font-weight-bold">Data de Nascimento</Label>
          <input 
          formControlName='data_nascimento' 
          [(ngModel)]='usuario.data_nascimento' 
          type='date'
          class='form-control' />
        </div>
      <!-- input RG -->
        <div id="rg" >
          <Label class="font-weight-bold">RG</Label>
          <input 
          formControlName='rg' 
          [(ngModel)]='usuario.rg'
          type='text' 
          maxlength="7"
          class='form-control' />
        </div>
      <!-- input Data_emissor -->
        <div id="data_emissao">
          <Label class="font-weight-bold">Data Emissão</Label>
          <input 
          formControlName='data_emissao' 
          [(ngModel)]='usuario.data_emissao' 
          type='date' 
          class='form-control'
          />
        </div>

      <!-- input orgao_emissor -->
        <div id="org_emissor">
          <Label class="font-weight-bold">Órg.Emissor</Label>
          <input 
          formControlName='org_emissor' 
          [(ngModel)]="usuario.org_emissor" 
          type='text' 
          class='form-control' />
        </div>
    </div>
    <div class="container-full">
      <div id="rg" >
        <Label class="font-weight-bold">Nome</Label>
        <input 
        formControlName='nome' 
        [(ngModel)]='usuario.nome'
        type='text' 
        style="width: 790px" 
        class='form-control' />
      </div>
           <!-- input email -->
         <div id="email">
          <Label class="font-weight-bold">E-mail</Label>
          <input 
            formControlName='email'
            [(ngModel)]='usuario.email' 
            type='email' 
            class='form-control'
            style="width: 790px" />
        </div> 
    </div>
    
    <div class='container '>  
      <!-- input celular -->
         <div id="celular">
          <Label class="font-weight-bold">Celular</Label>
          <input 
            mask="(00) 00000-0000" 
            [showMaskTyped]="true" 
            [dropSpecialCharacters]="false" 
            formControlName='celular'
            [(ngModel)]='usuario.celular' 
            type='text' 
            class='form-control input-cd' />
        </div> 


        <!-- input cep -->
         <div>
          <Label class="font-weight-bold">CEP</Label>
          <input 
          mask="00.000-000" 
          [showMaskTyped]="true"
          formControlName='cep' 
          [(ngModel)]='usuario.cep'
          (blur)="getCEP($event)"
          type='text' 
          class='form-control' />

        </div> 

        <!-- input cidade -->
        <div  id="cidade">
          <Label class="font-weight-bold">Cidade</Label>
          <input 
            type="text"
            class='form-control'
            formControlName='cidade' 
            [(ngModel)]='usuario.cidade'
          />
        </div> 
        <!-- input uf -->
        <div id="uf">
          <Label class="font-weight-bold">UF</Label>
          <input 
            formControlName='uf' 
            type="text"
            class='form-control'
            [(ngModel)]='usuario.uf'
        />
      </div> 
        <!-- input endereco -->
          <div id="endereco">
            <Label class="font-weight-bold">Endereço</Label>
            <input 
              formControlName='endereco' 
              type='text' 
              class='form-control' 
              [(ngModel)]='usuario.endereco'
              />
          </div> 
        <!-- input numero_casa -->
            <div >
              <Label class="font-weight-bold">Nº</Label>
                <input 
                  formControlName='numero' 
                  type='text' 
                  class='form-control' 
                  [(ngModel)]='usuario.numero'
                />
            </div> 
          <!-- input complemento -->
           <div id="complemento">
            <Label class="font-weight-bold">Complemento</Label>
            <input 
              formControlName='complemento' 
              type='text' 
              class='form-control' 
              style="width: 520px" 
              [(ngModel)]='usuario.complemento'
              />
          </div>
            <!-- input botão -->
          <div class="container">
          <div class='col-sm-4'>
            <input (click)="submit()"
            type="submit" 
            value="Cadastrar" 
            class='button' />
          </div>
          <div class='col-sm-6'>
            <input 
              type="reset" 
              value="Cancelar" 
              class="button2">
          </div>
      </div>
    </div>
  </form>
</div>