<div class = "navbar">

    <picture class = 'img-box'>        
        <source media="(max-width: 640px)" [srcset]="logoQintessRed">
        <img [src]="logoQintess" class = "logo-qintess"/>
    </picture>

    <div class = "painel-dir">

        <div class = "div-desloga">

            <i class="fa fa-power-off"></i>
            <button class = 'btn-desloga' (click) = 'deslogaUsuario()'>Sair</button>   

        </div>

        <div class = "dados-pessoais">

            <div>
                <i class="fa fa-user"></i>
                <span >Fulano da silva</span>
            </div>

            <div>
                <i class="fa fa-briefcase"></i>
                <span>ACC/TFA</span>
            </div>

            <div>
                <i class="fa fa-address-card"></i>
                <span >RE999999</span>
            </div>

            <div>
                <i class="fa fa-users"></i>
                <span>Baixa/Mobile</span>
            </div>

        </div>

    </div>


</div>