.wrapper{
    min-height: 90vh;
    min-width: 85vw;
    overflow: auto;
}

.title{
    height: 8vh;
}

table{
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
    margin-left: 0.25rem;
}

.cursor-pointer:hover{
    color: rgb(255, 111, 111);    
}

.custom-row{
  cursor: pointer;
}

tr.mat-header-row{
  background-color: rgb(99, 99, 99);
}

th.mat-header-cell{
  color: white;
  font-size: 0.8rem;
}

tr.mat-row:hover{
  background-color: rgba(0, 0, 0, 0.1);
}