<div class='wrapper d-flex justify-content-center align-items-center flex-column'>
  <div class='juntaLogo'>
    <div class='d-flex justify-content-center test'>
      <img [src]="logoQintess" />
    </div>
    <div class='mat-elevation-z8 recuperar-box'>
      <div class='d-flex justify-content-center mb-3'>
        <h3 class='text-secondary'>Redefinir Senha</h3>
      </div>
     <div>
     </div>
      <form [formGroup]='formRedefinirSenha'>
        <div class='senha mt-3'>
          <Label class="font-weight-bold">Senha:</Label>
          <input 
          type="{{ showPassword ? 'text' : 'password' }}" 
          name="password" 
          id="password" 
          placeholder='Senha' 
          formControlName="senha" 
          maxlength="8"
          style="width: 320px"
          class='form-control'/>
      </div>
      <button mat-icon-button (click)="togglePasswordVisibility()">
        <mat-icon class="button3">{{ showPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>
          <div id="senha">
              <Label class="font-weight-bold">Confimar Senha:</Label>
              <input 
              style="width: 320px"
              type='senha' 
              class='form-control' />
            </div>
      </form>
      <section>
        <div class="example-button-row">
          <button mat-raised-button 
            (click)='volta()' 
            class="button1"
            color="white">
            Voltar</button>
          <button 
            mat-raised-button
            (click)='submit()' 
            class="button2"
            color="black">
            Enviar</button>
        </div>
      </section>
    </div>
  </div>
</div>
