<div *ngIf='this.listaOf; else carregando'>
  <div *ngIf='this.listaOf.length > 0; else semOf'>
    <h4 class='mt-4 page-width'>
      Ordens de Fornecimento
    </h4>
    <div class='qtd-of page-width mb-2'>
      <b>{{ this.listaOf.length }} OF(s) </b> em execução
    </div>
    <div class='page-width table-wrapper mat-elevation-z8'>
      <table mat-table [dataSource]="this.listaOf">
        <ng-container matColumnDef="numOf" sticky>
          <th mat-header-cell *matHeaderCellDef> Número da OF </th>
          <td mat-cell *matCellDef="let element"> {{element.numOF}} </td>
        </ng-container>
        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef> Sigla </th>
          <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
        </ng-container>
        <ng-container matColumnDef="tema">
          <th mat-header-cell *matHeaderCellDef> Tema </th>
          <td mat-cell *matCellDef="let element"> {{element.tema}} </td>
        </ng-container>
        <ng-container matColumnDef="responsavelT">
          <th mat-header-cell *matHeaderCellDef> Responsável Técnico </th>
          <td mat-cell *matCellDef="let element"> {{this.primeiroNome(element.responsavelT) | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="gerenteT">
          <th mat-header-cell *matHeaderCellDef> Gerente Técnico </th>
          <td mat-cell *matCellDef="let element"> {{this.primeiroNome(element.gerenteT) | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="situacaoAlm">
          <th mat-header-cell *matHeaderCellDef> Situação ALM </th>
          <td mat-cell *matCellDef="let element"> {{element.situacaoAlm}} </td>
        </ng-container>
        <ng-container matColumnDef="dtEncaminhamento">
          <th mat-header-cell *matHeaderCellDef> Data de Encaminhamento </th>
          <td mat-cell *matCellDef="let element"> {{element.dtEncaminhamento | date: 'dd/MM/yyyy' : '+0000'}} </td>
        </ng-container>
        <ng-container matColumnDef="dtAbertura">
          <th mat-header-cell *matHeaderCellDef> Data Abertura </th>
          <td mat-cell *matCellDef="let element"> {{element.dtAbertura | date: 'dd/MM/yyyy' : '+0000'}} </td>
        </ng-container>
        <ng-container matColumnDef="dtPrevisao">
          <th mat-header-cell *matHeaderCellDef> Data Prevista </th>
          <td mat-cell *matCellDef="let element"> {{element.dtPrevisao | date: 'dd/MM/yyyy' : '+0000'}} </td>
        </ng-container>
        <ng-container matColumnDef="valorExecutado">
          <th mat-header-cell *matHeaderCellDef> Vlr Executado </th>
          <td mat-cell *matCellDef="let element">
            {{element.valorExecutado == undefined ? "N/A" : element.valorExecutado}}
            <span class='perExec'>
              {{element.valorExecutado == 0 ? "" : '(' + (element.perExecutado | number: '1.0-2').toString() + '% Executado)' }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="valorPrevisto">
          <th mat-header-cell *matHeaderCellDef> Vlr Previsto </th>
          <td mat-cell *matCellDef="let element">
            {{element.valorPrevisto == undefined ? "N/A" : element.valorPrevisto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="execucao" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> Execução </th>
          <td mat-cell *matCellDef="let element">
            <div class='container exec-font'>
              <div class='row'>
                <div class='col-sm-4 px-0'>Planejado</div>
                <div class='col-sm-8 px-0'>
                  {{element.valorPrevistoTotal == undefined ? "N/A" : element.valorPrevistoTotal }}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col-sm-4 px-0'>Executado</div>
                <div class='col-sm-8 px-0 '>
                  {{element.valorExecutadoTotal == undefined ? "N/A" : element?.valorExecutadoTotal}}
                  <span class='perExec'>
                    {{element.valorExecutadoTotal == undefined || element.valorExecutadoTotal == 0 ? "" : ' - ('+(element?.perExecutadoTotal | number: '1.0-0').toString() + '% Executado)' }}
                  </span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="colunas; sticky: true"></tr>
        <tr [routerLink]='[ "/../usuario/" + this.idUsu + "/ordem-forn/" + row.idOf]' class='custom-row' mat-row
          *matRowDef="let row; columns: colunas;"></tr>
      </table>
    </div>
  </div>
  <ng-template #semOf>
    <div class='text-secondary mt-3 ml-4'>
      Não há nenhuma Ordem de Fornecimento para você no momento
    </div>
  </ng-template>
</div>
<ng-template #carregando>
  <div class='container-fluid d-flex justify-content-center align-items-center mt-5'>
    <i class="fa fa-refresh fa-spin fa-4x" aria-hidden="true"></i>
  </div>
</ng-template>