<div *ngIf='this.listaOf; else carregando'>
    
  <div *ngIf = 'this.listaOf.length > 0; else semOf'>
   
    <div class = 'qtd-of'>
      <b>{{ this.listaOf.length }} OF(s) </b>  em execução para você</div>

    <div class = 'custom-size'>
      <table mat-table [dataSource]="this.listaOf" class = 'mat-elevation-z8' >
        
        <ng-container matColumnDef="numOf">
          <th mat-header-cell *matHeaderCellDef> Nº OF </th>
          <td mat-cell *matCellDef="let element"> {{element.numOF}} </td>
        </ng-container>

        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef> Sigla </th>
          <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
        </ng-container>

        <ng-container matColumnDef="tema">
          <th mat-header-cell *matHeaderCellDef> Tema </th>
          <td mat-cell *matCellDef="let element"> {{element.tema}} </td>
        </ng-container>

        <ng-container matColumnDef="responsavelT">
          <th mat-header-cell *matHeaderCellDef> Resp. Técnico </th>
          <td mat-cell *matCellDef="let element"> {{this.primeiroNome(element.responsavelT) | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="gerenteT">
          <th mat-header-cell *matHeaderCellDef> Ger. Técnico </th>
          <td mat-cell *matCellDef="let element"> {{this.primeiroNome(element.gerenteT) | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="situacaoAlm">
          <th mat-header-cell *matHeaderCellDef> Situação ALM </th>
          <td mat-cell *matCellDef="let element"> {{element.situacaoAlm}} </td>
        </ng-container>

        <ng-container matColumnDef="dtEncaminhamento">
          <th mat-header-cell *matHeaderCellDef> Dt Encaminhamento </th>
          <td mat-cell *matCellDef="let element"> {{element.dtEncaminhamento | date: 'dd/MM/yyyy' : '+0000'}} </td>
        </ng-container>

        <ng-container matColumnDef="dtAbertura">
          <th mat-header-cell *matHeaderCellDef> Dt Abertura </th>
          <td mat-cell *matCellDef="let element"> {{element.dtAbertura | date: 'dd/MM/yyyy' : '+0000'}} </td>
        </ng-container>


        <ng-container matColumnDef="dtPrevisao">
          <th mat-header-cell *matHeaderCellDef> Dt Prevista </th>
          <td mat-cell *matCellDef="let element"> {{element.dtPrevisao | date: 'dd/MM/yyyy' : '+0000'}} </td>
        </ng-container>

        <ng-container matColumnDef="valorExecutado">
          <th mat-header-cell *matHeaderCellDef> Vlr Executado </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.valorExecutado == undefined ? "N/A" : element.valorExecutado}}
            <span class = 'perExec'>
              {{element.valorExecutado== 0 ? "" : "("}}
              {{element.valorExecutado == 0 ? "" : element.perExecutado | number: '1.0-2' }}
              {{element.valorExecutado == 0 ? "" : "% Executado)"}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="valorPrevisto">
          <th mat-header-cell *matHeaderCellDef> Vlr Previsto </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.valorPrevisto == undefined ? "N/A" : element.valorPrevisto }}
           </td>

           <td mat-footer-cell *matFooterCellDef>
             Valor Executado total
            {{element.valorExecutadoTotal == undefined ? "N/A" : element.valorExecutadoTotal}}
            <span class = 'perExec'>
              {{element.valorExecutadoTotal == 0 ? "" : "("}}
              {{element.valorExecutadoTotal == 0 ? "" : element.perExecutadoTotal | number: '1.0-2' }}
              {{element.valorExecutadoTotal == 0 ? "" : "% Executado)"}}
            </span>
           </td>

        </ng-container>

        <ng-container matColumnDef="valorExecutadoTotal">
          <th mat-header-cell *matHeaderCellDef> Vlr Executado Total </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.valorExecutadoTotal == undefined ? "N/A" : element.valorExecutadoTotal}}
            <span class = 'perExec'>
              {{element.valorExecutadoTotal== 0 ? "" : "("}}
              {{element.valorExecutadoTotal == 0 ? "" : element.perExecutadoTotal | number: '1.0-2' }}
              {{element.valorExecutadoTotal == 0 ? "" : "% Executado)"}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="valorPrevistoTotal">
          <th mat-header-cell *matHeaderCellDef> Vlr Previsto Total </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.valorPrevistoTotal == undefined ? "N/A" : element.valorPrevistoTotal }}
           </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas; sticky: true"></tr> 
        <tr [routerLink] = '[ "/../usuario/" + this.idUsu + "/ordem-forn/" + row.idOf]' class = 'custom-row' mat-row *matRowDef="let row; columns: colunas;" ></tr>
        
        
     </table>
    </div>
    
</div>  

<ng-template #semOf>
    <div class = 'text-secondary mt-3 ml-4'>
        Não há nenhuma Ordem de Fornecimento para você no momento
    </div>
</ng-template>

</div>
<ng-template #carregando>

  <div class = 'container-fluid d-flex justify-content-center align-items-center mt-5'>
    <i class="fa fa-refresh fa-spin fa-4x" aria-hidden="true"></i>
  </div>
    
</ng-template>