.table-wrapper{
    overflow: auto;
    margin-top: 0.25rem;
    margin: auto;    
}

.page-width{
    width: 90%;
    margin: auto;
}

table{
    width: 100rem;
    border-collapse: unset;
}

.custom-row{
    cursor: pointer;
}

.qtd-of{
    margin: auto;   
    padding-right: 12px;
    text-align: end;
    font-size: 0.85rem;
}

tr.mat-row{
    height: 3.5rem; 
}

th.mat-header-cell{
    padding: 1rem;
}


tr.mat-row:hover{
    background-color: rgb(240, 240, 240);
}

tr.mat-row:hover .mat-table-sticky{
    background-color: rgb(240, 240, 240);
}

.perExec{
    font-size: 0.70rem;
    color: rgba(0, 0, 0, 0.65);
}

td.mat-cell{
    padding-left: 1rem;    
    padding-right: 1rem;   
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
.mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
    padding-right: 10rem;
}

th.mat-table-sticky:first-child {
    border-right: none;
  }
  
th.mat-table-sticky:last-child {
    border-left: none;
    padding-right: 10rem;
}

.exec-font{
    font-size: 0.75rem;
}

td.mat-table-sticky:last-child {
    padding-right: 0;
}

th{
    border-bottom: 0.15rem solid black !important;
    font-size: 0.85rem;
}