.custom-size{
    height: 26rem;
    overflow: auto;
    margin-top: 0.25rem;
}

table{
    width: 100%;
    margin: auto;
}

.custom-row{
    cursor: pointer;
}

tr.mat-header-row{
    width: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(99, 99, 99);
}

.qtd-of{
    margin: auto;
    width: 100%;
    padding-right: 12px;
    padding-top: 1rem;
    text-align: end;
}

tr.mat-row{
    height: 4rem;
}

th.mat-header-cell{
    color: white;
    font-size: 0.8rem;
}

tr.mat-row:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.perExec{
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.65);
}