<div class = 'qtd-of pr-5 mt-5'>
  <b>{{this.listaOf.length}} </b>OFs em execução
</div>

<div class = 'table-responsive px-5'>
  <table class="table table-striped table-fixed">
      <thead class = 'thead-dark tam-fonte'>
        <tr>  
          <th scope="col">OF</th>
          <th scope="col">Sigla</th>
          <th scope="col">Gerente Técnico</th>
          <th scope="col">Responsável Técnico</th>
          <th scope="col">Dt Abertura</th>
          <th scope="col">Dt Prevista</th>
          <th scope="col">Dt Entregue</th>
          <th scope="col">Dt Aceite</th>
          <th scope="col">Valor UstiBB</th>
          <th scope="col">Situação GENTI</th>
          <th scope="col">Situação OF</th>

        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor = "let ordemF of this.listaOf;" (click) = 'this.detalhaOf(ordemF)' class = "linhaTabela">
          <td #row>{{ordemF.numeroOFGenti}}</td>
          <td>{{ordemF.sigla.descricao}}</td>
          <td>{{this.retornaPrimeiroNome(ordemF.gerenteTecnico) | titlecase}}</td>
          <td>{{this.retornaPrimeiroNome(ordemF.responsavelTecnico) | titlecase}}</td>
          <td>{{ordemF.dtAbertura | date: 'dd/MM/yyyy' : '+180'}}</td>
          <td>{{ordemF.dtAbertura | date: 'dd/MM/yyyy' : '+180'}}</td>
          <td>{{ordemF.dtAbertura | date: 'dd/MM/yyyy' : '+180'}}</td>
          <td>{{ordemF.dtAbertura | date: 'dd/MM/yyyy' : '+180'}}</td>
          <td>{{ordemF.ustiBB}}</td>
          <td>{{ordemF.situacaoGenti.descricao}}</td>
          <td>{{ordemF.situacao?.descricao}}</td>

        </tr>
      </tbody>

  </table>
</div>

<div class="card-footer text-muted custom-footer">
        
</div>