.wrapper{
    min-height: 90vh;
    min-width: 85vw;
    overflow: auto;
}

.title{
    height: 8vh;
}

.btn-cinza{
    background-color: rgb(80, 80, 80);
    outline: none !important;
    box-shadow: none;
}

.btn-verde{
    background-color: rgb(22, 179, 22);
    outline: none !important;
    box-shadow: none;
}

.btn-verde:hover{
    background-color: rgb(22, 146, 22);
}

.btn-azul{
    outline: none !important;
    box-shadow: none;
}

.label-btn-cinza{
    color: rgba(255, 255, 255);
}

.fonte-btn-cinza{
    font-family: Segoe UI;
}

.btn-selecionado{
    background-color: rgb(40, 40, 40);
}

.tarefa-box{
    border: 1px solid rgb(40, 40, 40);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}