<div class = 'container-fluid pl-5 pb-2'>

    <div class = 'row'>
        <div class = 'col-sm-4 mt-4 pl-0'>
            <h4 class = 'text-secondary'>
                Minhas Mensagens
                <hr>
            </h4>

        </div>
    </div>

    <div *ngIf = 'this.listaMsg?.length > 0; else naoHaMensagens '>

        <div class = 'row' *ngFor = 'let i of this.listaMsg | slice: (this.page-1) * this.pageSize : (this.page-1) * this.pageSize + this.pageSize'>
            <div class = 'col-sm-5 mat-elevation-z4 mt-3 pt-2 pb-2'>    

                <span>
                    <h5 class = 'text-left'>
                        {{i.titulo}}
                        <hr>
                    </h5>

                    <span>
                        {{i.corpo}}
                    </span>

                    <div class = 'desc-msg mt-3'>
                        {{i.responsavel | titlecase}} 
                        Em
                        {{i.dtCriacao | date: 'dd/MM/yyyy - HH:mm' : '+0000'}}
                    </div>

                    <div *ngIf = 'i.tpMsg == "GERAL"; else msgSigla ' class = 'desc-msg'>
                        Mensagem enviada a todos os colaboradores
                    </div>

                    <ng-template #msgSigla>

                        <div class = 'desc-msg'>
                            Mensagem enviada a todos os colaboradores do {{i.sigla}}
                        </div>

                    </ng-template>
                    
                </span>
                
                

            </div>

       
    
        </div>

        <div class = 'row'>       
            <div class = 'col-sm-5 d-flex justify-content-center mt-3'>
                <ngb-pagination [(page)]="this.page" [pageSize]="this.pageSize" [collectionSize]="this.listaMsg.length"></ngb-pagination>

            </div>

        </div>
        

    </div>






  



</div>

<ng-template #naoHaMensagens>
    Não há nenhuma mensagem para você
</ng-template>

