<div class = 'container-fluid mt-3'>

    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a [routerLink]="['/../mensagens']" class="nav-link">
                Mensagens Enviadas
            </a>
        </li> 

        <li class="nav-item">
          <a [routerLink]="['/../nova-mensagem']" class="nav-link active">
            Nova Mensagem
            </a>
        </li>   
    </ul>

    <form [formGroup] = 'form'>
        <div class = 'container mt-3'>
            <div class = 'form-group row pl-4'>
                
                <div class = 'col-sm-6'>
                    <label class = "font-weight-bold">Sigla</label> 
                    <select formControlName = 'sigla' class = 'form-control' [ngClass] = "{'custom-error': !formValido && !this.form.controls.tipo.value}">
                        <option [value] = 'i.id' class = 'form-control' *ngFor = 'let i of this.listaSiglas'>{{i.descricao}}</option>
                    </select>
                </div>

                <div class = 'col-sm-6 mt-3'>              
                    <mat-form-field >
                        <mat-label>Data de Expiração</mat-label>
                        <input formControlName = 'dataExp' [min] = 'this.dataMinima' matInput [matDatepicker]="picker" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>  
                </div>
                
                <div class = 'col-sm-6'>                 

                    <div class = 'pt-2 custom-control custom-checkbox custom-pointer'>    
                        <input (change) = 'alteraSigla();' formControlName = 'tipo' type = 'checkbox' class = 'custom-control-input' id  = 'check_geral' />                     
                        <Label class = 'custom-control-label custom-label' for = 'check_geral'>Geral</Label>
                    </div> 
                    
                    <div class = 'pt-2'>    
                        <Label class = "font-weight-bold">Título</Label>
                        <input formControlName = 'titulo' type = 'text' class = 'form-control' [ngClass] = "{'custom-error': !formValido}" />                          
                    </div>
                    
                </div> 
    
                <div class = 'col-sm-6'></div>
    
                <div class = 'col-sm-6 mt-3'>  
                    <label class = "font-weight-bold">Mensagem</label>              
                    <textarea formControlName = 'corpo' class = 'form-control' placeholder="Digite a mensagem" [ngClass] = "{'custom-error': !formValido}"></textarea>
                </div> 

                <div class = 'col-sm-6'></div>
                
                <div class = 'col-sm-2'></div>
                <div class = 'col-sm-2 mt-3 p'>  
                    <input (click) = 'submit()' type = "submit" value = "Enviar" class = 'form-control bg-success text-light' [ngClass] = "{'custom-error': !formValido}"/>               
                </div> 
                <div class = 'col-sm-8'></div>
    
            </div>
        </div>

    </form>
      
</div>