*{
    margin: 8;

}

.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 848px;
    min-width: 848px;
    padding: 0;
}

.editbutton{
    margin-top: 42px;
}

.container div {
    padding: 10px;
    
}

.form-control {
    width: 230px;
    border: 1px solid black;
} 

.button2{
    background-color: red;
}
.button1{
    background-color: green;
}


button {
  
    height: 50px;
    color: #fff;
    display: block;
    background-color: rgb(19, 99, 219);
    
}
