<div class='container-fluid mt-3'>

  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a [routerLink]="['/../usuarios']" class="nav-link">
        <i class="fa fa-users" aria-hidden="true"></i>
        Lista de Usuários
      </a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/../novo-usuario']" class="nav-link active">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Cadastro
      </a>
    </li>
  </ul>

  <div *ngIf='usuario; else carregando'>
    <div class='container-fluid'>
      <form>
        <div class='container '>
          <div class='form-group row pl-4'>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Nome</Label>
              <input disabled class='form-control' value={{usuario?.nome?.toUpperCase()}} type='text'
                class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">CPF</Label>
              <input disabled class='form-control' value={{usuario?.cpf}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">E-mail</Label>
              <input disabled class='form-control' value={{usuario?.email}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Celular</Label>
              <input disabled class='form-control' value={{usuario?.celular}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Data de Nascimento</Label>
              <input disabled class='form-control' [value]="usuario?.nascimento | date: 'dd/MM/yyyy'" type='text'
                class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Perfil</Label>
              <input disabled class='form-control' value={{listToString(usuario?.listaPerfil)}} type='text'
                class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Cargo</Label>
              <input disabled class='form-control' value={{usuario?.cargo?.descricao}} type='text'
                class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Sigla</Label>
              <input disabled class='form-control' value={{listToString(usuario?.listaSiglas)}} type='text'
                class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Código RE</Label>
              <input disabled class='form-control' value={{usuario?.codigoRe}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Código BB</Label>
              <input disabled class='form-control' value={{usuario?.codigoBB}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Empresa</Label>
              <input disabled class='form-control' value={{usuario?.empresa}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Demanda</Label>
              <input disabled class='form-control' value={{usuario?.demanda}} type='text' class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Contrato</Label>
              <input disabled class='form-control' value={{usuario?.contrato?.descricao}} type='text'
                class='form-control' />
            </div>

            <div class='col-sm-6'>
              <Label class="font-weight-bold">Status {{usuario?.status}}</Label>
              <div *ngIf='usuario.status == "Ativo"; else inativo'>
                <button (click)='alteraStatus("desativar");' class='form-control bg-danger text-light'>
                  <i class="fa fa-minus-circle"></i> Inativar Usuário </button>
              </div>

              <ng-template #inativo>
                <div>
                  <button (click)='alteraStatus("ativar");' class='form-control bg-primary text-light'>
                    <i class="fa fa-plus-circle"></i> Reativar Usuário </button>
                </div>
              </ng-template>
            </div>

            <div class='col-sm-6 mt-3 p'>
              <button (click)='editaUsuario()' class='form-control bg-success text-light'>
                <i class="fa fa-pencil"></i> Editar usuário </button>
            </div>



          </div>
        </div>
      </form>
    </div>

    <ng-template #carregando>
      <div class='container-fluid d-flex justify-content-center align-items-center mt-5'>
        <i class="fa fa-refresh fa-spin fa-4x" aria-hidden="true"></i>
      </div>
    </ng-template>