.logo-qintess{
    height: 2rem;
    pointer-events: none;  
}


.btn-desloga{
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;    
    padding: none;
}

.dados-pessoais{   
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.25rem;    
    grid-column-gap: 1rem;
}

.icone i{
    vertical-align: middle;
    padding-right: 0.5rem;
}

.custom-padding{
    padding-top: 0.5rem;
}