.logo-qintess{
    height: 5rem;
    padding: 0.5rem 1rem;
    pointer-events: none;  
}

.logo-qintess-red{
    height: 5rem;
    padding: 0.5rem 1rem;
    pointer-events: none;
    display: none;   
}

.btn-desloga{
    border: none;
    background-color: white;
    cursor: pointer;
    outline: none;    
}

.dados-pessoais{   
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;    
    grid-column-gap: 0.5rem;
}

.icone i{
    vertical-align: middle;
    padding-right: 0.5rem;
}

.teste{    
    height: 2rem;
    margin-top: auto;
}