.custom-icon, select, option{
    cursor: pointer;
}

.custom-row{
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.custom-row input[type='text'], textarea, select{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.linha-tarefa{
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    padding: 0.25rem;
}

table{
    width: 100%;    
}

tr.mat-header-row{
    width: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(99, 99, 99);
}

th.mat-header-cell{
    color: white;
    font-size: 0.9rem;
}

tr.mat-row:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.total{
    font-weight: bold;
}

.custom-link{
    cursor: pointer;
}

.custom-link:hover{
    color: black;
}

.deletar{
    color:rgb(236, 75, 75);
}

.editar{
    color: rgb(99, 99, 99);
    margin-left: 1rem;
}

.custom-display{
    display: inline;
}

input{
    font-size: 1rem;
}

.lista-itens-guia{
    height: 30rem;
    overflow: auto;
}

.item-guia{
    cursor: pointer;
    padding: 0.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.item-guia:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


hr{
    padding: 0;
}

.item-selecionado{    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.80rem;
}
