<div class='container-fluid mt-3'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a [routerLink]="['/../usuarios']" class="nav-link">
        <i class="fa fa-users" aria-hidden="true"></i>
        Lista de Usuários
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/../novo-usuario']" class="nav-link active">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        Cadastro
      </a>
    </li>
      <li class="nav-item">
        <a [routerLink]="['/../cargo']" class="nav-link active">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Historico
        </a>
    </li>
  </ul>
  <div *ngIf='usuario; else carregando'>
    <form>
      <div class='container '>
         <!-- input matricula -->
          <div id="matricula" >
            <Label class="font-weight-bold">Matricula</Label>
            <input 
              disabled class='form-control' 
              value={{usuario?.codigoRe}} 
              type='text' 
              class='form-control'
            />
          </div>
          <div id="nome">
            <Label class="font-weight-bold">Nome</Label>
            <input 
              disabled class='form-control' 
              value={{usuario?.nome?.toUpperCase()}} 
              type='text'
              class='form-control' />
          </div>
      </div>
    </form>
  </div>
    <ng-template #carregando>
      <div class='container-fluid'>
        <i class="fa fa-refresh fa-spin fa-4x" aria-hidden="true"></i>
      </div>
    </ng-template>
</div>