<div class = 'navbar navbar-expand-md navbar-dark bg-dark'>  
    <ul class = 'navbar-nav'>

        <li class = 'nav-item' *ngIf = 'this.admGestor(this.usuario?.cargo.id)'>
           <a [routerLink] = '["/../ordem-fornecimento"]' class = 'nav-link'>Consultar OFs</a> 
        </li>

        <li class = 'nav-item' *ngIf = 'this.admGestor(this.usuario?.cargo.id)'>
            <a class = 'nav-link'>Gerenciar Usuários</a> 
        </li>

        <li class = 'nav-item' *ngIf = 'this.gestor(this.usuario?.cargo.id)'>
            <a class = 'nav-link' [routerLink]="['/../mensagens']" > Mensagens</a> 
        </li>

        
        <li class = 'nav-item' *ngIf = 'this.colaborador(this.usuario?.cargo.id)'>
            <a class = 'nav-link' [routerLink]="['/../ordem-fornecimento/usuario/'+this.usuario.id]" >Ordens de Fornecimento</a> 
        </li>

        <li class = 'nav-item' *ngIf = 'this.colaborador(this.usuario?.cargo.id)'>
            <a class = 'nav-link' [routerLink] = "['/../mensagens/usuario/' + this.usuario.id]">Mensagens</a> 
        </li>

    </ul>

</div>
