.custom-padding{
    margin-bottom: 1rem;
}

a{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8) !important;
}

div{
    padding: 0;
}

li{
    padding: 0.5rem;
}

.mostra-usu{
    color: white;
    cursor: pointer;
    padding-right: 0.25rem;
}

.dados-pessoais{   
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 0.25rem;    
    grid-column-gap: 1rem;
}

.dropdown-menu {
    width: 20rem !important;

}

.logo-qintess{
    height: 2.5rem;
    pointer-events: none;  
    filter: invert(80%);
}

.custom-nav{
    background-color: rgba(0, 0, 0, 0.8) !important;
    padding-left: 1rem;
    min-height: 10vh;
}

a::after{
    display: block;
    content: " ";
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:hover::after{
    transform: scaleX(0.75);    
}

a:hover{
    color: white !important;
}

.icone-usu{
    color: white;
}

.dados-usu hr{
    margin: 0;
}

.dados-usu div{
    padding: 0.5rem;
}

.dados-usu{
    background-color: rgb(46, 46, 46);
    color: white;
}