.custom-size{
    height: 26rem;
    overflow: auto;
    margin-top: 2rem;
    border: 1px solid black;
  }
  
  .form-control{
    border: 1px solid black;
    text-transform: uppercase;
  }
    
  table{
    width: 100%;
  }
  
  .custom-row{
    cursor: pointer;
  }
  
  tr.mat-header-row{
    background-color: black;
  }
  
  th.mat-header-cell{
    color: white;
    font-size: 0.8rem;
  }
  
  