.container-relatorios{
    height: 90vh;
}

.sidenav-title{
    font-size: 1.25rem;
    font-weight: 500;
}

.full-height{
    height: 90vh;
}

.width-15vw{
    width: 15vw;
}

.sidenav-title-container{
    min-height: 8vh;
    border-bottom: 1px solid #d4d4d4;
}

.cursor-pointer{
    cursor: pointer;
}

.selected-op{
    background-color: #d4d4d4;
}

.relatorio-default{
    min-width: 85vw;
    min-height: 90vh; 
}
