<div *ngIf='this.listaOf; else carregando'>
  <div class = 'qtd-of'>
    <b>{{this.listaOf.length}} OF(s) </b>em execução
  </div>


  <div class = 'custom-size'>
    <table mat-table [dataSource]="this.listaOf" class = 'mat-elevation-z8 ' >
      
      <ng-container matColumnDef="numOf">
          <th mat-header-cell *matHeaderCellDef> Nº OF </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroOFGenti}} </td>
      </ng-container>

      <ng-container matColumnDef="sigla">
        <th class = 'pr-4' mat-header-cell *matHeaderCellDef> Sigla </th>
        <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
      </ng-container>   

      <ng-container matColumnDef="referencia">
        <th class = 'pr-4' mat-header-cell *matHeaderCellDef> Referência </th>
        <td mat-cell *matCellDef="let element"> {{this.formataReferencia(element.referencia)}} </td>
      </ng-container> 

      <ng-container matColumnDef="responsavelT">
        <th mat-header-cell *matHeaderCellDef> Resp. Técnico </th>
        <td mat-cell *matCellDef="let element"> {{this.primeiroNome(element.responsavelTecnico) | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="gerenteT">
        <th class = 'pr-4' mat-header-cell *matHeaderCellDef> Ger. Técnico </th>
        <td mat-cell *matCellDef="let element"> {{this.primeiroNome(element.gerenteTecnico) | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="situacaoAlm">
        <th class = 'pl-4' mat-header-cell *matHeaderCellDef> Situação ALM </th>
        <td class = 'pl-4' mat-cell *matCellDef="let element"> {{this.ehNulo(element.situacaoAlm)}} </td>
      </ng-container>

      <ng-container matColumnDef="situacaoGenti">
        <th mat-header-cell *matHeaderCellDef> Situação GenTI </th>
        <td mat-cell *matCellDef="let element"> {{element.situacaoGenti}} </td>
      </ng-container>

      <ng-container matColumnDef="dtAbertura">
        <th mat-header-cell *matHeaderCellDef> Dt Abertura </th>
        <td mat-cell *matCellDef="let element"> {{this.ehNulo(element.dtAbertura) | date: 'dd/MM/yyyy' : '+0000'}} </td>
      </ng-container>

      <ng-container matColumnDef="dtPrevisao">
        <th mat-header-cell *matHeaderCellDef> Dt Prevista </th>
        <td mat-cell *matCellDef="let element"> {{this.ehNulo(element.dtPrevisao) | date: 'dd/MM/yyyy' : '+0000'}} </td>
      </ng-container>

      <ng-container matColumnDef="dtEntrega">
        <th mat-header-cell *matHeaderCellDef> Dt Entrega </th>
        <td mat-cell *matCellDef="let element"> {{this.ehNulo(element.dtEntrega) | date: 'dd/MM/yyyy' : '+0000'}} </td>
      </ng-container>

      <ng-container matColumnDef="dtAceite">
        <th mat-header-cell *matHeaderCellDef> Dt Aceite </th>
        <td mat-cell *matCellDef="let element"> {{this.ehNulo(element.dtAceite) | date: 'dd/MM/yyyy' : '+0000'}} </td>
      </ng-container>

      <ng-container matColumnDef="valorExecutado">
        <th mat-header-cell *matHeaderCellDef> Vlr Executado </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.valorExecutado}}

          <span class = 'perExec'>
            {{element.perExecutado == null ? "" :  element.perExecutado | number: '1.0-2' }}
            {{element.perExecutado == null ? "" : "% executado"}}
          </span> 
        
        </td>
      </ng-container>

      <ng-container matColumnDef="valorPlanejado">
        <th mat-header-cell *matHeaderCellDef> Vlr Planejado </th>
        <td mat-cell *matCellDef="let element"> {{element.valorPlanejado}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas; sticky: true"></tr> 
      <tr [routerLink] = '[row.id]' class = 'custom-row' mat-row *matRowDef="let row; columns: colunas;" ></tr>      
      
   </table>
  </div>

</div>

<ng-template #carregando>

  <div class = 'container-fluid d-flex justify-content-center align-items-center mt-5'>
    <i class="fa fa-refresh fa-spin fa-4x" aria-hidden="true"></i>
  </div>
  
</ng-template>