.wrapper{
    min-height: 90vh;
    min-width: 85vw;
}

.title{
    height: 8vh;
}

.table-width{
    width: 100%;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #616161 !important;
  }
  
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #616161 !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #616161 !important;
}

tr{
    cursor: pointer;
}