<div class='principal'>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a [routerLink]="['/../rh']" class="nav-link active">
          <i class="fa fa-users" aria-hidden="true"></i>
            Candidatos
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/../cadastro-candidatos']" class="nav-link active">
          <i class="fa fa-users" aria-hidden="true"></i>
            Cadastro
        </a>
      </li>
  </ul>
  <div class='container-fluid'>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <select matNativeControl (change)="onChange($event.target.value)">
        <option value="">Select Name</option>
        <option value="andamento">Andamento</option>
        <option value="aberto">Aberto</option>
        <option value="cancelado">Cancelada</option>
        <option value="concluido">Concluido</option>
      </select>
    </mat-form-field> -->
      <div id="status" >
    <label class="font-weight-bold">Status</label>
      <select 
      class='form-control' 
      [(ngModel)]="rh.status"
      (change)="onChange($event.target.value)">
      <option [ngValue]="item"
        type='text'
        [selected]=" rh.status && rh.status.id==item.id"
        *ngFor='let item of this.listaStatus'>{{item.descricao}} </option>
      </select>
  </div> 
    <!-- <div class="input-group mt-3 p">
      <input (keyup)="searchAllField($event)" class="form-control" placeholder="Consultar - NOME">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search fa-fw"></i></span>
        </div>
    </div> -->
    <div *ngIf='this.rh.length > 0; else semUsuarios' class='custom-size mat-elevation-z8 '>
      <table mat-table [dataSource]="rh" matSort>
        <ng-container matColumnDef="candidato">
          <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by nome">CANDIDATO</th>
          <td mat-cell *matCellDef="let element"> {{element.candidato.toUpperCase()}} </td>
        </ng-container>
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF</th>
          <td mat-cell *matCellDef="let element"> {{element.cpf | cpf1 }} </td>
        </ng-container>
        <ng-container matColumnDef="rg">
          <th mat-header-cell *matHeaderCellDef> RG </th>
          <td mat-cell *matCellDef="let element"> {{element.rg}} </td>
        </ng-container>
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef> CARGO</th>
          <td mat-cell *matCellDef="let element"> {{element.cargo.descricao}} </td>
         </ng-container>
         <ng-container matColumnDef="especialidade">
          <th mat-header-cell *matHeaderCellDef> ESPECIALIDADE</th>
          <td mat-cell *matCellDef="let element"> {{element.especialidade.descricao}} </td>
         </ng-container>
        <ng-container matColumnDef="remuneracao">
          <th mat-header-cell *matHeaderCellDef> REMUNERAÇÃO</th>
          <td mat-cell *matCellDef="let element"> {{element.remuneracao}} </td>
         </ng-container>
         <ng-container matColumnDef="etapa">
          <th mat-header-cell *matHeaderCellDef> ETAPA </th>
          <td mat-cell *matCellDef="let element"> {{element.etapa.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>STATUS</th>
          <td mat-cell *matCellDef="let element"> {{element.status.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="data_inicio">
          <th mat-header-cell *matHeaderCellDef>DATA INICIO</th>
          <td mat-cell *matCellDef="let element"> {{element.data_inicio | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="recrutador">
          <th mat-header-cell *matHeaderCellDef>RECRUTADOR</th>
          <td mat-cell *matCellDef="let element"> {{element.recrutador.descricao}} </td>
        </ng-container>
        <ng-container  matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef></th>
                 <td mat-cell *matCellDef="let element">
                     <button mat-raised-button 
                      class="icon" 
                      (click)="Dialog(element)" 
                      color="warn"
                      >
                      <mat-icon>clear</mat-icon>
                     </button>
                 </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="colunas; sticky: true"></tr>
          <tr (click)='detalhesCandidato(row);' class='custom-row' mat-row *matRowDef="let row; columns: colunas;"></tr>
      </table>
    </div>
      <ng-template #semUsuarios>
        <div class='text-secondary mt-3 ml-4'>
          Não há usuários cadastrados
        </div>
      </ng-template>
  </div>
</div>
