<div class='wrapper d-flex justify-content-center align-items-center flex-column'>

  <div class='custom-pos'>

    <div class='d-flex justify-content-center test'>
      <img [src]="logoQintess" />
    </div>

    <div class='mat-elevation-z8 login-box'>

      <div class='d-flex justify-content-center mb-3'>
        <h3 class='text-secondary'>Login</h3>
      </div>

      <form [formGroup]='loginForm'>

        <div [ngClass]="{'val-false':this.senhaErrada}" class='login'>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <input type='text' placeholder='RE999999' spellcheck="false" formControlName="codigoRe" />
        </div>

        <div [ngClass]="{'val-false':this.senhaErrada}" class='senha mt-3'>
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type='password' placeholder='Senha' formControlName="senha" />
        </div>

        <div class='d-flex justify-content-center mt-4'>
          <input class='enviar text-white px-2 btn btn-block' type='submit' value='Entrar' (click)='checaLogin()' />
        </div>

      </form>

    </div>
  </div>


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Primeiro Acesso</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h4 class="d-flex justify-content-center">Vamos criar uma nova senha?</h4>
    </div>

    <form [formGroup]='senhaForm'>
      <div class='container '>
        <div class='form-group row pl-4'>
          <div class='col-sm-6'>
              <mat-form-field>
                <mat-label>Nova senha</mat-label>
                <input matInput placeholder='mínimo 6 digitos' type='password' formControlName="senha" class='form-control'
                [(ngModel)]='usuario.senha'>
              </mat-form-field>
          </div>
          <div class='col-sm-6'>
            <mat-form-field>
              <mat-label>Digite novamente</mat-label>
              <input matInput  placeholder='repita a senha' type='password' formControlName="confSenha" class='form-control' >
            </mat-form-field>
            </div>
        </div>
      </div>
    </form>


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="c('Save click'); alteraSenha();">Confirmar</button>
    </div>
  </ng-template>



</div>