.wrapper{
    width: 100vw;
    height: 100vh;
    
}

.val-false{
    border-bottom: 1px solid red !important;    
}

img{
    pointer-events: none;
    height: 8rem;
}

i{
    padding-right: 0.5rem;
    width: 24px;
}

.login-box{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    padding-top: 4rem !important;
    padding-bottom: 3rem !important;
    
}

.login input[type = 'text']{
    border: none;
    padding-bottom: 0.25rem;;
} 

.senha input[type = 'password']{
    border: none;
    padding-bottom: 0.25rem;;
} 

.login{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.25rem;
}

.senha {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.25rem;
}

img{
    position: absolute;
    top: -4rem;
}

.enviar{
    background: rgb(255,255,255);
    background: linear-gradient(167deg, rgba(255,255,255,1) 0%, rgba(112,91,158,1) 0%, rgba(161,66,72,1) 76%, rgba(235,58,64,1) 100%);
    outline: none !important;
    box-shadow: none;
}

.custom-pos{
    position: relative !important;
}

